<html>
    <head>
        <title>Proper Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Practice Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Gibberish</a></h2>
            <p>Gibberish, alternatively jibber, jabber, jibber-jabber, or gobbledygook, is speech that is (or appears to be) nonsense. It may include speech sounds that are not actual words,[1] or language games and specialized jargon that seems nonsensical to outsiders.[2]</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">More Gibberish</a></h2>
            <p>"Gibberish" is also used as an imprecation to denigrate or tar ideas or opinions the user disagrees with or finds irksome, a rough equivalent of "nonsense", "falderal", or "claptrap". The implication is that the criticized expression or proposition lacks substance or congruence, as opposed to simply being a differing view.</p>
        </div>
    </body>
</html>
